:root {
    --color-info: #434455;
    --color-main: #2e2f42;
    --buton: #4d5ae5;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 1440px;
}

header {
    border-bottom: 1px solid #E7E9FC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* header */

.menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header__logo {
    padding: 24px 76px 24px 156px;
}

.header_studio_logo {
    color: #2e2f42;
}

/* ===========nav========== */

.nav {
    display: flex;
    padding-right: 332px;
}

.list_menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list_menu:hover {
    color: #404bbf;
}

.list_menu:focus {
    color: #404bbf;
}

/* ========address========= */

.address {
    font-style: normal;
}

.address>ul {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address_contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-info);
}

.address_contact:hover {
    color: #404bbf;
}

.address_contact:focus {
    color: #404bbf;
}

/* ===========main============ */

/* ========section one (wrapper)=========== */

.wrapper {
    background-color: var(--color-main);
    margin-bottom: 98px;
}

.wrapper-content {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    padding: 188px 472px 48px 472px;
}

.wrapper-content-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin: 0px 635px 185px 636px;
    border-radius: 4px;
}

.wrapper-content-button:hover {
    background-color: #404BBF;
}

.wrapper-content-button:focus {
    background-color: #404BBF;
}

/* =======section two (content)======== */

.section-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-main);

    padding-bottom: 8px;

}

.section-two-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-info);
    height: 72px;
    width: 264px;
    overflow: scroll;
}

.section-two-flex {
    display: flex;
    justify-content: center;
    width: 1128px;
    height: 104px;
    margin: 0px 156px 120px 156px;
}

.section-two-flex {
    gap: 24px;
}

/* ========section three (content)======= */

.section-three {
    width: 1128px;
    margin: 0px 156px 120px 156px;
}

.section-three ul {
    display: flex;
    gap: 24px;
}

.section-three-title {
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-main);
    padding-bottom: 72px;
}

/* =========section four (content)======== */

.section-four {
    background-color: #F4F4FD;
}

.section-four ul {
    display: flex;
    gap: 24px;
    padding: 0 156px 120px 156px;
}

.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-main);

    padding: 120px 639px 72px 639px;
}

.section-four-box {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.section-four-box-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-main);
    text-align: center;

    padding-top: 32px;
    padding-bottom: 8px;
}

.section-four-box-content {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 32px;
}

/* =========footer=========== */

.footer {
    background-color: var(--color-main);
    width: 1440px;
    height: 312px;
}

.footer-box {
    width: 264px;
    height: 112px;
}

.footer__logo {
    color: #f4f4fd;
}

.footer__link {}

.footer-box p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/* =========portfolio========== */
/* =========section content==== */

.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--buton);
    background-color: #F4F4FD;
    cursor: pointer;
}

.button-portfolio:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-portfolio:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}


.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-main);
}

.portfolio-content {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.portfolio-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ============================ */



a {
    text-decoration: none;
}

img {
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.header {
    display: flex;
    height: 72px;
    align-items: center;
}

/* .container {
    margin: 0 auto;
} */